<div class="container">
  <div class="tile-row">
    <mik-tile title="Weather Toronto" url="https://www.google.ca/search?q=weather+toronto" image="https://is5-ssl.mzstatic.com/image/thumb/Purple/v4/31/70/8f/31708f5a-1615-b54d-7663-8b7e801ef639/source/256x256bb.jpg"></mik-tile>
    <mik-tile title="Weather Wasaga" url="https://www.google.ca/search?q=weather+wasaga" image="https://tile03-cdn.maptoolkit.net/terrain/12/1137/1481.png"></mik-tile>
    <mik-tile title="github/miktemk" url="https://github.com/miktemk" image="https://avatars1.githubusercontent.com/u/3788283?s=400&v=4"></mik-tile>
    <!-- <mik-tile title="" url="" image=""></mik-tile> -->
  </div>

  <div class="tile-row">
    <mik-tile title="Leshy labs" url="https://www.leshylabs.com/apps/sstool/" image="https://www.leshylabs.com/images/apps/sstool.png"></mik-tile>
    <mik-tile title="WPF colors" url="https://2000thingswpf.files.wordpress.com/2011/02/001-allcolors.png" image="https://www.codeproject.com/KB/WPF/wpfColors/image.jpg"></mik-tile>
  </div>

  <markdown>

    ### hahaha

    - [event horizon - let me show you!!!](https://www.youtube.com/watch?v=giiuqTdBSTc&feature=youtu.be&t=34s)
    - [ocean's 11 - i owe u for the thing with the guy in the place](https://youtu.be/HLF0YJuBuYY?t=114)
    - [ocean's 12 - sick on vacation](https://youtu.be/3lfTLYMECtc?t=1m59s)
    - [sealab - are u freaking out, no just pissed off](https://youtu.be/M5LYbTnlm6c?t=1m28s)
    - [die hard 2 - i got enough friends](https://www.youtube.com/watch?v=ThY30niz6oE)
    - [Futurama - if you want calculon to double-check his paperwork](https://www.youtube.com/watch?v=A1F4OduqrtQ)
    - [death note - together we can surpass L!](https://youtu.be/KtUqpZzyPLI?t=8m35s)
    - [Blood and Bone - u just signed ur own death certificate](https://youtu.be/9oPv_0_uwxQ?t=1m20s)
    - [Skyfall - i can do more damage from my laptop sitting in my pijamas](https://youtu.be/AQ9H31z7OqM?t=50)
    - [5th element - thanks Ray...](https://youtu.be/7BBcRiG0oJM?t=38)
    - [Spongebob - don't worry we'll buff out those scratches](https://youtu.be/aoxF29RI2Bs?t=6)
    - [Evil Robot - ENERGY!!!](https://youtu.be/_7BUTWdwlGY?t=565)

  </markdown>
</div>