@import "./3rd-party-custom/bootstrap-grid/bootstrap-grid.min.css";

body {
  @gutter-size: 6px;
  @border-hover-color: #2ab2db;
  @border-hover-color: #f159a0;

  .tile-row {

    display: grid;
    grid-template-columns: repeat(5, minmax(10px, 100px)) repeat(5, minmax(10px, 100px));
    grid-row-gap: @gutter-size;
    grid-column-gap: @gutter-size;
    justify-content: center;
    align-content: center;
    margin-top: 50px;

    // 0 - 768px
    @media (max-width:768px) {
      grid-template-columns: repeat(5, minmax(10px, 100px));
    }
  }

  mik-tile {
    display: block;
    
    .tile-con {
      position: relative;
      display: block;
      background-size: cover;
      // background-color: #ccc;
      // border: 1px solid #ccc;
      height: 100px;
      box-sizing: border-box;

      .tile-title {
        //display: none;
        position: absolute;
        top: -1em;
        white-space: nowrap;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 12px;
        background-color: lighten(@border-hover-color, 35);
        padding: 2px;
      }
      
      &:hover {
        border: 3px solid @border-hover-color;
        // border-radius: 50%;
        .tile-title {
          border: 1px solid @border-hover-color;
          display: block;
        }
      }
    }
  }
}